{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html id="about">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{% trans "STELLARIS_TECH_TREE" %}</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Material+Icons">
        <link rel="stylesheet" href="{% static "css/panel.css" %}">
        <link rel="stylesheet" href="{% static "css/notosansscsliced.css" %}">
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    </head>
    <body id="about">
        <div class="wrapper">
            <div class="panel-wrapper">
                <div id="panel" class="panel">
                    <div class="project-name-wrapper">
                        <a class="project-name-link" href="/stellaris/">
                            <img src="/stellar_static/img/stellaris.bmp" class="project-logo" alt="Stellaris">
                        </a>
                        <span class="project-name">
                            <a class="project-name-link" src="/stellaris/">
                                <h1 class="project-name">Stellaris</h1>
                            </a>
                        </span>
                    </div>
                    <div class="header-upper-tabs">
                        <div class="header-upper-tab-container">
                            <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                <select class="language selector" name="language" id="language" onchange="this.form.submit()" style="display: none">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <span class="selector">
                                    <div class="header-link">
                                        {% get_language_info for LANGUAGE_CODE as cur %}
                                        {{ cur.name_local }}
                                    </div>
                                    <ul class="menulist">
                                        {% for language in languages %}
                                            <li class="menulistitem" value="{{ language.code }}" onclick="switchLanguage(this)">{{ language.name_local}}</li>
                                        {% endfor %}
                                    </ul>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="card hovercard">
                    <picture>
                        <source srcset="{% static 'img/stellaris.webp' %}" type="image/webp">
                        <source srcset="{% static 'img/stellaris.jpg' %}" type="image/jpeg">
                        <img src="{% static 'img/stellaris.jpg' %}">
                    </picture>
                    <div class="card-description">
                        {% trans 'If you really like this project, please consider making a donation to support me. Thanks a lot! ' %}<br>
                        {% trans 'The qrcode on the left supports Alipay, WeChat and QQ, or you can donate via PayPal below.' %}
                        <a href="#donate"><i class="material-icons">arrow_downward</i></a>
                    </div>
                </div>
                <article class="content-inner">
                    <h2 name="about">{% trans 'About Stellaris Tech Tree' %}</h2>
                    <p>
                        {% trans 'Stellaris Tech Tree Project is inspired by ' %}
                        <a href="https://gitlab.com/bipedalshark/stellaris-tech-tree" target="_blank">
                            {% trans 'this project' %}
                        </a>
                        {% trans ' and modified to make it easy to support new versions and new languages.' %}
                        <br>
                        {% trans 'It contains several localized versions for different language users, and can be expanded by adding new localization files.' %}
                    </p>
                    <p>
                        {% trans 'Copyright © 2017 Cother' %}<br>
                        {% trans 'Licensed under General Public License v2.0 License.' %}
                    </p>
                    <p>
                        {% trans 'It is obvious that ‘Stellaris Tech Tree’ is a boring name for a project, but I give up thinking anyway. It is concise at least.' %}
                    </p>

                    <h2 name="gayhub">{% trans 'Get source code' %}</h2>
                    <p>
                        {% trans 'If you are willing to make contributions to this project, Stellaris Tech Tree is available on GitHub.' %}<br>
                        <a href="https://github.com/iHamsterball/stellaris_tech_tree" target="_blank">
                            <i class="material-icons">code</i>
                            iHamsterball/stellaris_tech_tree
                        </a>
                    </p>

                    <h2 name="donate" id="donate">{% trans 'Donate' %}</h2>
                    <p>
                        {% trans 'I will try my best to keep this website free and free from ads and mining scripts, but a donation will be a great help.' %}<br>
                        {% trans 'If you really like this project, please consider making a donation to support me. Thanks a lot!' %}<br>
                        {% trans 'If you want to donate via Alipay, WeChat or QQ, please scan the qrcode above. If you want to pay via PayPal, click the button.' %}<br>
                        <button class="button button-donate" onclick="window.open('https://www.paypal.me/cother')" target="_blank" type="button">PayPal</button><br>
                        {% trans 'Thanks again, every penny counts.' %}
                    </p>
                </article>
            </div>
        </div>
        <footer class="footer">
            <p>Copyright © 2017 Cother | Powered by <a href="https://www.djangoproject.com" target="_blank">Django</a></p>
        </footer>
        <script type="text/javascript">
            function switchLanguage(self) {
                let language = document.getElementById('language');
                language.value = self.getAttribute('value') || self.children[0].getAttribute('id');
                language.addEventListener("change", language.form.submit(), false);
            }
        </script>
    {% include "analytics.html" %}
    </body>
</html>