{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% trans "STELLARIS_TECH_TREE" %}</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/panel.css" %}">
    <link rel="stylesheet" href="{% static "css/progress-bar.css" %}">
    <link rel="stylesheet" href="{% static "css/Treant.css" %}">
    <link rel="stylesheet" href="{% static "css/tech-tree.css" %}">
    <link rel="stylesheet" href="{% static "css/notosansscsliced.css" %}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Material+Icons">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="panel-wrapper">
            <div id="panel" class="panel">
                <div class="project-name-wrapper">
                    <a class="project-name-link" href="/stellaris/">
                        <img src="/stellar_static/img/stellaris.bmp" class="project-logo" alt="Stellaris">
                    </a>
                    <span class="project-name">
                        <a class="project-name-link" src="/stellaris/">
                            <h1 class="project-name">Stellaris</h1>
                        </a>
                    </span>
                </div>
                
                <div class="header-upper-tabs">
                    <div class="header-upper-tab-container">
                        <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select class="language selector" name="language" id="language" onchange="this.form.submit()" style="display: none">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="selector">
                                <div class="header-link">
                                    {% get_current_language as CUR_LANGUAGE %}
                                    {% get_language_info for CUR_LANGUAGE as cur %}
                                    {{ cur.name_local }}
                                </div>
                                <ul class="menulist">
                                    <!--<li class="menulistitem" value="de">Deutsch</li>-->
                                    <li class="menulistitem" value="en" onclick="switchLanguage(this)">English</li>
                                    <!--<li class="menulistitem" value="es">español</li>-->
                                    <!--<li class="menulistitem" value="fr">français</li>-->
                                    <!--<li class="menulistitem" value="pt-br">Português Brasileiro</li>-->
                                    <!--<li class="menulistitem" value="ru">Русский</li>-->
                                    <!--<li class="menulistitem" value="ja">日本語</li>-->
                                    <li class="menulistitem" value="zh-hans" onclick="switchLanguage(this)">简体中文</li>        
                                    <li class="menulistitem" value="zh-hant" onclick="switchLanguage(this)">繁體中文</li>
                                    <!--<li class="menulistitem" value="ko">한국어</li>-->
                                </ul>
                            </span>
                        </form>
                    </div>
                    <div class="header-upper-tab-container">
                        <span class="selector">
                            <div class="header-link">
                                <span id="version"></span>
                            </div>
                            <ul class="menulist">
                                <li class="menulistitem" onclick="switchVersion(this)" value="niven">Niven v2.1.0</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="cherryh">Cherryh v2.0.5</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="boulle">Boulle v1.9.1</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="capek">Čapek v1.8.3</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="adams">Adams v1.6.2</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="banks">Banks v1.5.1</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="kennedy">Kennedy v1.4.1</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="heinlein">Heinlein v1.3.2</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="asimov">Asimov v1.2.5</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="clarke">Clarke v1.1.0</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="launch">Launch v1.0.3</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="alphamod">Alpha Mod</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="isb">Improved Space Battles</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="new_horizons">ST: New Horizons</li>
                                <li class="menulistitem" onclick="switchVersion(this)" value="nsc">New Ship Classes</li>
                            </ul>
                        </span>
                    </div>
                </div>
                
                <form class="search-form" action="#" method="GET" id="top-search" search-placeholder="{% trans "SEARCH" %}">
                    <div id="searchbox" class="searchbox">
                        <input placeholder="{% trans "SEARCH" %}" type="text" class="search-field search-query" 
                            name="q" value="" autocomplete="off"
                            oninput="searchTech(this)" onpaste="searchTech(this)"
                            onfocus="searchActive(this)" onfocusout="setTimeout(searchInactive, 100);">
                        <div class="search-image material-icons"></div>
                    </div>
                    <div class="search-popout hidden" id="search-popout">
                        <div class="search-results no-select">
                            <div class="menu menu-vertical" role="menu" aria-haspopup="true">
                                <div class="menuitem search-item" role="menuitem" id="search-results">
                                    <div class="search-category" aria-disabled="true">
                                        <span class="search-item">{% trans "CATEGORY SAMPLE" %}</span>
                                    </div>
                                </div>
                                <div class="menuitem search-footer" role="menuitem">
                                    <div class="menuitem-content">
                                        <span>{% trans "SEARCH BY TECHNOLOGY NAME" %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <a class="top-button no-select hidden">  
                    <div class="top-button-label header-link" id="switch" onclick="expandPanel(this)">
                        {% trans "EXPAND" %}
                    </div>
                </a>
            </div>
        </div>
        <div class="banner-wrapper hidden">
            <div class="banner banner-info" id="banner" onclick="hideBanner()">
                <div class="banner-inner">Loading...</div>
            </div>
        </div>
    </div>
    

    <div class="chart no-select" id="tech-tree" unselectable="on" onselectstart="return false;">
            <script src="{% static "vendor/raphael.js" %}"></script>
            <script src="{% static "js/Treant.js" %}"></script>
            <script src="{% static "vendor/jquery.min.js" %}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <!--<script src="{% static "vendor/jquery.mousewheel.js" %}"></script>-->
            <!--<script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>-->
            <script src="{% static "js/tech-tree.js" %}"></script>
            <script src="{% static "js/drag.js" %}"></script>
        </div>
    <script>
        if(!String.prototype.format) {
            String.prototype.format = function() {
                let args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) {
                    return typeof args[number] != 'undefined' ? args[number] : match;
                });
            };
        }
        
        let techList;
        window.addEventListener("load", function() {
            setBanner('banner-info', "{% trans 'Loading...'%}");
            version = 'cherryh';
            loadTech(version);
            document.getElementById('version').innerText = document.querySelector("li.menulistitem[value='{0}']".format(version)).innerText;
            waitLoadDrag('tech-tree', 100);
        });
        let search_results = document.getElementById("search-results");
        if (search_results.addEventListener) {
            search_results.addEventListener("click", function (e) {
                var e = e || window.event;
                let target = e.target || e.srcElement;
                target = target.parentNode;
                if (target.hasAttribute('offset-x')) {
                    locateTech(target);
                }
            }, false);
        } else {
            search_results.attachEvent("onclick", function (e) {
                var e = e || window.event;
                let target = e.target || e.srcElement;
                if (target.hasAttribute('offset-x')) {
                    locateTech(target);
                }
            });
        };

        function switchLanguage(self) {
            let language = document.getElementById('language');
            language.value = self.getAttribute('value');
            language.addEventListener("change", language.form.submit(), false);
        }
        function switchVersion(self) { 
            setBanner('banner-info', "{% trans 'Loading...'%}");
            value = self.getAttribute('value');
            document.getElementById('version').innerText = document.querySelector("li.menulistitem[value='{0}']".format(value)).innerText;
            loadTech(value);
            waitLoadDrag('tech-tree', 100);
        }
        function expandPanel(self) {
            let element = document.getElementById('panel');
            element.classList.add('expand');
            self.classList.add('expand');
            self.innerHTML = '{% trans "COLLAPSE" %}';
            window.removeEventListener('click', expandPanel);
            self.onclick = function() { collapsePanel(this); };
        }
        function collapsePanel(self) {
            let element = document.getElementById('panel');
            element.classList.remove('expand');
            self.classList.remove('expand');
            self.innerHTML = '{% trans "EXPAND" %}';
            window.removeEventListener('click', collapsePanel);
            self.onclick = function() { expandPanel(this); };
        }
        function searchTech(self) {
            let display = document.getElementById('search-results');
            category_loc = ['{% trans "PHYSICS" %}', '{% trans "SOCIETY" %}', '{% trans "ENGINEERING" %}'];
            if (self.value != '') {
                techList = Array.prototype.slice.call(document.querySelectorAll('p.node-name'));
                let resultList = techList.reduce(function (result, cur) {
                    if (typeof cur != undefined) {//To prevent Paradox or Localization Teams from providing null strings
                        if (cur.childNodes[0].data.toLowerCase().includes(self.value.toLowerCase())) {
                            if (cur.offsetParent.classList.contains('physics')) {
                                result[0].push(cur);
                            } else if (cur.offsetParent.classList.contains('society')) {
                                result[1].push(cur);
                            } else if (cur.offsetParent.classList.contains('engineering')) {
                                result[2].push(cur);
                            }
                        }
                    }
                    return result;
                }, [[], [], []]);
                if (resultList[0].length > 0 
                || resultList[1].length > 0
                || resultList[2].length > 0) {
                    while(display.hasChildNodes()) {
                        display.removeChild(display.firstChild);
                    }
                    for(category in resultList) {
                        if (resultList[category].length > 0) {
                            let cat = document.createElement('div');
                            cat.classList.add('search-category');
                            cat.innerText = category_loc[category];
                            display.appendChild(cat);
                            for (index in resultList[category]) {
                                let node = document.createElement('div');
                                node.classList.add('menuitem', 'search-item');
                                node.setAttribute('offset-x', resultList[category][index].offsetParent.offsetLeft);
                                node.setAttribute('offset-y', resultList[category][index].offsetParent.offsetTop);
                                node.setAttribute('scroll-x', resultList[category][index].offsetParent.scrollWidth);
                                node.setAttribute('scroll-y', resultList[category][index].offsetParent.scrollHeight);
                                //node.setAttribute('onclick', 'locateTech(this);');
                                let text = document.createElement('span');
                                text.innerText = resultList[category][index].childNodes[0].data;
                                node.appendChild(text);
                                display.appendChild(node);
                            }
                        }
                    }
                } else {
                    while(display.hasChildNodes()) {
                        display.removeChild(display.firstChild);
                    }
                    let node = document.createElement('div');
                    node.classList.add('search-item');
                    node.setAttribute('aria-disabled', 'true');
                    node.innerText = '{% trans "NO SUGGESTIONS PROVIDED" %}';
                    display.appendChild(node);
                }
            } else {
                while (display.hasChildNodes()) {
                    display.removeChild(display.firstChild);
                }
                let node = document.createElement('div');
                node.classList.add('search-item');
                node.setAttribute('aria-disabled', 'true');
                node.innerText = '{% trans "NO SUGGESTIONS PROVIDED" %}';
                display.appendChild(node);
            }
        }
        function searchActive(self) {
            console.log('search-active');
            document.getElementById('panel').classList.add('search-active');
            document.getElementById('search-popout').classList.remove('hidden');
            searchTech(self);
        }
        function searchInactive() {
            document.getElementById('panel').classList.remove('search-active');
            document.getElementById('search-popout').classList.add('hidden');
        }
        function locateTech(self) {
            console.log('excuted');
            let tech_tree = document.getElementById('tech-tree');
            let offsetX = self.getAttribute('offset-x');
            let offsetY = self.getAttribute('offset-y');
            let scrollX = self.getAttribute('scroll-x');
            let scrollY = self.getAttribute('scroll-y');
            let top = (window.innerHeight -58)/2 - offsetY - scrollY/2 + 58;
            top = top < 0 ? top : 58;
            let left = window.innerWidth/2 - offsetX - scrollX/2;
            left = left < 0 ? left : 0;
            tech_tree.style.top = top + 'px';
            tech_tree.style.left = left + 'px';
            return false;
        }
    </script>
</body>
</html>
