{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{%get_current_language as lang_code%}{{lang_code}}">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% trans "STELLARIS_TECH_TREE" %}</title>
    <link rel="stylesheet preload" as="style" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <link rel="stylesheet preload" as="style" href="//fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet preload" as="style" href="{% static "css/panel.css" %}">
    <link rel="stylesheet preload" as="style" href="{% static "css/Treant.css" %}">
    <link rel="stylesheet preload" as="style" href="{% static "css/tech-tree.css" %}">
    <link rel="stylesheet preload" as="style" href="{% static "css/notosansscsliced.css" %}">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="panel-wrapper">
            <div id="panel" class="panel">
                <button type="button" role="button" class="expand-section-nav header-icon-button button-flat material-icons" 
                        aria-label="Hamburger menu" data-label="Hamburger menu" onclick="showHamburger()"></button>
                <div class="project-name-wrapper">
                    <a class="project-name-link" href="/stellaris/">
                        <img rel="preload" as="image" src="/stellar_static/img/stellaris.bmp" class="project-logo" alt="Stellaris">
                    </a>
                    <span class="project-name">
                        <a class="project-name-link" src="/stellaris/">
                            <h1 class="project-name">Stellaris</h1>
                        </a>
                    </span>
                </div>

                <div class="header-upper-tabs">
                    <div class="header-upper-tab-container">
                        <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select class="language selector" name="language" id="language" onchange="this.form.submit()" style="display: none">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="selector">
                                <div class="header-link">
                                    {% get_language_info for LANGUAGE_CODE as cur %}
                                    {{ cur.name_local }}
                                </div>
                                <ul class="menulist">
                                    {% for language in languages %}
                                        <li class="menulistitem" value="{{ language.code }}" onclick="switchLanguage(this)">{{ language.name_local}}</li>
                                    {% endfor %}
                                </ul>
                            </span>
                        </form>
                    </div>
                    <div class="header-upper-tab-container">
                        <span class="selector">
                            <div class="header-link">
                                <span id="version"></span>
                            </div>
                            <ul class="menulist">
                                {% for version, name in version_list.items %}
                                    <li class="menulistitem" onclick="switchVersion(this)" value="{{ version }}">{{ name }}</li>
                                {% endfor %}
                            </ul>
                        </span>
                    </div>
                </div>

                <form class="search-form" action="#" method="GET" id="top-search" search-placeholder="{% trans "SEARCH" %}">
                    <div id="search-box">
                        <input placeholder="{% trans "SEARCH" %}" type="text" class="search-field search-query" 
                            name="q" value="" autocomplete="off"
                            oninput="searchTech(this)" onpaste="searchTech(this)"
                            onfocus="searchActive(this)" onfocusout="setTimeout(searchInactive, 100);">
                        <div class="search-image material-icons"></div>
                    </div>
                    <div class="search-popout hidden" id="search-popout">
                        <div class="search-results no-select">
                            <div class="menu menu-vertical" role="menu" aria-haspopup="true">
                                <div class="menuitem search-item" role="menuitem" id="search-results">
                                    <div class="search-category" aria-disabled="true">
                                        <span class="search-item">{% trans "CATEGORY SAMPLE" %}</span>
                                    </div>
                                </div>
                                <div class="menuitem search-footer" role="menuitem">
                                    <div class="menuitem-content">
                                        <span>{% trans "SEARCH BY TECHNOLOGY NAME" %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button id="search-button" class="search-button header-icon-button button-flat material-icons"
                        onclick="searchActive()"></button>
            </div>
        </div>
        {% include "hamburger.html" %}
        <div class="banner-wrapper hidden">
            <div class="banner banner-info" id="banner" onclick="Banner._hide()">
                <div class="banner-inner">Loading...</div>
            </div>
        </div>
    </div>

        <div class="chart no-select" id="tech-tree" unselectable="on" onselectstart="return false;">
            <script rel="preload" as="script" src="{% static "vendor/raphael.js" %}"></script>
            <script rel="preload" as="script" src="{% static "js/Treant.js" %}"></script>
            <script rel="preload" as="script" src="{% static "vendor/jquery.min.js" %}"></script>
            <script rel="preload" as="script" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <!--<script src="{% static "vendor/jquery.mousewheel.js" %}"></script>-->
            <!--<script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>-->
            <script rel="preload" as="script" src="{% static "js/tech-tree.js" %}"></script>
            <script rel="preload" as="script" src="{% static "js/drag.js" %}"></script>
        </div>
    <script>
        if(!String.prototype.format) {
            String.prototype.format = function() {
                let args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) {
                    return typeof args[number] != 'undefined' ? args[number] : match;
                });
            };
        }

        let techList;
        window.addEventListener("DOMContentLoaded", function() {
            Banner.info("{% trans 'Loading...'%}");
            let version;
            if (window.localStorage) {
                version = localStorage.getItem('version');
            }
            if(version) {// Load previous selected version
                loadTech(version);
            } else {// Load newest version
                version = document.querySelectorAll('div > span.selector > ul > li.menulistitem')[0].getAttribute('value');
                loadTech(version);
            }
            document.getElementById('version').innerText = document.querySelector("li.menulistitem[value='{0}']".format(version)).innerText;
            document.getElementById(version).children[0].classList.add('nav-active');
            let language = "{% get_current_language as CUR_LANGUAGE %}{% get_language_info for CUR_LANGUAGE as cur %}{{ cur.code }}";
            document.getElementById(language).classList.add('nav-active');
            let chart = document.getElementById('tech-tree');
            chart.addEventListener('mousedown', mouseDownHandler);
        });
        let search_results = document.getElementById("search-results");
        if (search_results.addEventListener) {
            search_results.addEventListener("click", function (e) {
                var e = e || window.event;
                let target = e.target || e.srcElement;
                target = target.parentNode;
                if (target.hasAttribute('data-id')) {
                    locateTech(target);
                }
            }, false);
        } else {
            search_results.attachEvent("onclick", function (e) {
                var e = e || window.event;
                let target = e.target || e.srcElement;
                if (target.hasAttribute('data-id')) {
                    locateTech(target);
                }
            });
        };

        function probeSave(version) {
            if (window.localStorage) {
                localStorage.setItem('version', version);
            }
        }
        function switchLanguage(self) {
            let language = document.getElementById('language');
            language.value = self.getAttribute('value') || self.children[0].getAttribute('id');
            language.addEventListener("change", language.form.submit(), false);
        }
        function switchVersion(self) {
            Banner.info("{% trans 'Loading...'%}");
            value = self.getAttribute('value');
            document.getElementById('version').innerText = document.querySelector("li.menulistitem[value='{0}']".format(value)).innerText;
            document.querySelector('li[value] > span.nav-active').classList.remove('nav-active');
            document.getElementById(value).children[0].classList.add('nav-active');
            loadTech(value);
            probeSave(value);
        }
        function generateTechList() {
            // Reduce duplicate calculation of techList
            let clone = document.getElementById('tech-tree').cloneNode(true);
            synchronizeCssStyles(document.getElementById('tech-tree'), clone, true);
            techList = Array.prototype.slice.call(clone.querySelectorAll('p.node-name'));
        }
        function searchTech(self) {
            let display = document.getElementById('search-results');
            category_loc = ['{% trans "PHYSICS" %}', '{% trans "SOCIETY" %}', '{% trans "ENGINEERING" %}'];
            if (self.value != '') {
                let resultList = techList.reduce(function (result, cur) {
                    if (typeof cur != undefined) {//To prevent Paradox or Localization Teams from providing null strings
                        if (cur.childNodes.length > 0) {
                            if (cur.childNodes[0].data.toLowerCase().indexOf(self.value.toLowerCase()) != -1) {
                                if (cur.parentNode.classList.contains('physics')) {
                                    result[0].push(cur);
                                } else if (cur.parentNode.classList.contains('society')) {
                                    result[1].push(cur);
                                } else if (cur.parentNode.classList.contains('engineering')) {
                                    result[2].push(cur);
                                }
                            }
                        }
                    }
                    return result;
                }, [[], [], []]);
                if (resultList[0].length > 0
                || resultList[1].length > 0
                || resultList[2].length > 0) {
                    while(display.hasChildNodes()) {
                        display.removeChild(display.firstChild);
                    }
                    for(category in resultList) {
                        if (resultList[category].length > 0) {
                            let cat = document.createElement('div');
                            cat.classList.add('search-category');
                            cat.innerText = category_loc[category];
                            display.appendChild(cat);
                            for (index in resultList[category]) {
                                let node = document.createElement('div');
                                node.classList.add('menuitem', 'search-item');
                                node.dataset.id = resultList[category][index].parentNode.id;
                                let text = document.createElement('span');
                                text.innerText = resultList[category][index].childNodes[0].data;
                                node.appendChild(text);
                                display.appendChild(node);
                            }
                        }
                    }
                } else {
                    while(display.hasChildNodes()) {
                        display.removeChild(display.firstChild);
                    }
                    let node = document.createElement('div');
                    node.classList.add('search-item');
                    node.setAttribute('aria-disabled', 'true');
                    node.innerText = '{% trans "NO SUGGESTIONS PROVIDED" %}';
                    display.appendChild(node);
                }
            } else {
                while (display.hasChildNodes()) {
                    display.removeChild(display.firstChild);
                }
                let node = document.createElement('div');
                node.classList.add('search-item');
                node.setAttribute('aria-disabled', 'true');
                node.innerText = '{% trans "NO SUGGESTIONS PROVIDED" %}';
                display.appendChild(node);
            }
        }
        function searchActive(self) {
            switch(arguments.length) {
                case 0:
                    if (document.getElementById('panel').classList.contains('responsive-search-open')) {
                        searchInactive();
                        break;
                    }
                    document.getElementById('panel').classList.add('responsive-search-open');
                    document.getElementById('panel').classList.add('search-active');
                    document.getElementById('search-popout').classList.remove('hidden');
                    break;
                case 1:
                    document.getElementById('panel').classList.add('search-active');
                    document.getElementById('search-popout').classList.remove('hidden');
                    searchTech(self);
                    break;
            }
            generateTechList();
        }
        function searchInactive() {
            document.getElementById('panel').classList.remove('search-active');
            document.getElementById('panel').classList.remove('responsive-search-open');
            document.getElementById('search-popout').classList.add('hidden');
        }
        function locateTech(self) {
            console.log('excuted');
            console.log(self, self.dataset.id);
            let tech = document.getElementById(self.dataset.id)
            tech.scrollIntoView({ behavior: "smooth", block: "center", inline: "center" });
            return false;
        }
        function getNeededCSSList(node) {
            let list = document.defaultView.getComputedStyle(node, "");
            return [list['left'].slice(0, -2),
                    list['top'].slice(0, -2),
                    list['width'].slice(0, -2),
                    list['height'].slice(0, -2)];
        }
        function synchronizeCssStyles(src, destination, recursively) {
            // if recursively = true, then we assume the src dom structure and destination dom structure are identical (ie: cloneNode was used)

            // window.getComputedStyle vs document.defaultView.getComputedStyle
            // @TBD: also check for compatibility on IE/Edge
            destination.setAttribute('savedstyle', getNeededCSSList(src));

            if (recursively) {
                var vSrcElements = src.childNodes;
                var vDstElements = destination.childNodes;

                for (var i = vSrcElements.length; i--;) {
                    var vSrcElement = vSrcElements[i];
                    var vDstElement = vDstElements[i];
                    //          console.log(i + " >> " + vSrcElement + " :: " + vDstElement);
                    vDstElement.setAttribute('savedstyle', getNeededCSSList(vSrcElement));
                }
            }
        }
    </script>
    {% include "analytics.html" %}
</body>
</html>
